.top-header {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef9bf;
}

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 66px;
  letter-spacing: -0.004em;
  color: #75b79e;
}

.title-mobile {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: -0.004em;
  color: #75b79e;
  display: none;
}

.page-background {
  height: 100%;
  width: 100%;
  background-color: #eef9bf;
}

.page-body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef9bf;
}

.footer {
  height: 150px;
  width: 100%;
  background-color: #eef9bf;
}

.game-container {
  height: 100%;
  width: 100%;
  max-width: 872px;
  gap: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #eef9bf;
}

.card {
  height: 146px;
  width: 117px;
  position: relative;
  display: none;
}

.card-front {
  transform: rotateY(180deg);
}

.card-front-flip {
  transform: rotateY(0deg);
}

.card-back-flip {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #99cea8;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px rgb(125, 125, 125);
  background-color: #a7e9af;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: all 0.5s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card-played{
  display: flex;
}

#timer {
  height: 50px;
  width: 70px;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 100px;
  width: 100px;
}

body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  .title {
    display: none;
  }
  .title-mobile {
    display: flex;
  }
}
